*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(43, 163, 163);
}


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 16px 24px;
}


.container {
    width: 50px;
    height: 50px;
    border: 1px solid ;
    background-image: url(../Assets/Ghibli\ \(9\).jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

nav {
    display: flex;
}

nav a {
    border: 1px solid;
    padding: 8px;
    background-color: aliceblue;
    color: black;
    text-decoration: none; 
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: black;
}
ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown {
    width: 100%;
    background-color: rgb(43, 163, 163);
    position: absolute;
    z-index: 999;
    display: none;
    text-align: center;
}
nav a:hover {
    color: aliceblue;
    background-color: rgba(0, 204, 255, 0.945);
    border: 1px solid black;
    border-radius: 10px;
}
ul li:hover ul.dropdown {
    display: block;
}
.photo-banner {
    border: 1px solid;
    height: 480px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.photo-banner .img-slideshow {
    width: 100%;
    height: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}



#section-our-profile{
    margin-left: 30px;
    border-top: 2px solid black;
    padding: 16px 24px;
    align-items: center;
    margin-top: 10px;
}

.profile-icon-ghibli{
    display: flex;
    margin-left: 50px;
    justify-content: flex-start;

}
.profile-icon1 {
    width: 50px;
    height: 50px;
    border: 1px solid;
    background-image: url(../Assets/Ghibli1.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    margin-right: 35px;
    
}
.profile-icon2{
    width: 50px;
    height: 50px;
    border: 1px solid;
    background-image: url(../Assets/Ghibli2.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    margin-right: 35px;
    
}
.profile-icon4 {
    width: 50px;
    height: 50px;
    border: 1px solid;
    background-image: url(../Assets/Ghibli\ \(8\).jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    margin-right: 35px;
}
form {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    border: none;
}
#submit {
    margin-top: 15px;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
}
#maseyo {
    width: 100%;
    padding: 5px;
    flex: 1;
}
#windrises{
    width: 100%;
    padding-bottom: 50px;
    margin-top: 50px;
}
header h3{
    margin-left: 55px;
    margin-top: 40px;
}
.meliodas{
    width: 400px;
    height: 240px;
    border: 1px solid;
    margin-left: 500px;
    margin-top: -300px;
    padding-inline: 10px 2px;
    background-color: aliceblue;
}


.pesan {
    margin-top: 30px;
}
.camon {
    flex-direction: row-reverse;
    border-top: 2px solid black;

}

#submit:hover{
    background-color: #31dd31;
}

footer{
    margin-top: 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.footer-main{
    text-align: right;
    margin: 25px 25px;

}

